    <header>
        <div class="header_wrapper">
          <div>
               <a href="/"> <img src="/images/BB LOGO.png" alt="" class="logo"></a>
  
             
                  <svg id="toggle_open"  xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                  stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/>
                 <line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
                 <!-- <svg id="toggle_close" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" 
                 stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
              -->
          </div>
          <div class="nav_items close_menu">
                  <a class="<%= path==='/' ? 'active' : '' %>" href="/">Home</a>
                  <a class="<%= path==='/about' ? 'active' : '' %>" href="/about">Who We Are</a>
                  <a class="<%= path==='/contact' ? 'active' : '' %>" href="/contact">Contact Us</a>
          </div>
  
          <div>
              <a class="header_btn" href="https://wa.me/+265999144007">
                 <span>Get In Touch</span>
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
  
              </a>
          </div>
      </div>
    </header>