*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "poppins";
    src: url(poppins/Poppins-Regular.otf);
}
@font-face {
    font-family: "poppinsLight";
    src: url(poppins/Poppins-Light.otf);
}

@font-face {
    font-family: "Montserrat";
     src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Syne";
    src: url(Syne/Syne-VariableFont_wght.ttf); 
}


html {
    font-family: 'poppins';
    color: #191919;  
}

body{
    position: relative;
    z-index: 0;
}


.document-preview {
    width: 100%;
    height: 150px; /* Set the height as per your requirement */
    overflow: hidden;
  }

header{
   height: 10vh;
   background-color:white;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrapper{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header_wrapper > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 20px 0 20px; */
    /* width:auto; */
    
}

.header_wrapper >div:nth-child(1) a .logo{
    height:70px;
    display: flex;
    align-self: center;
}

.header_wrapper > div:nth-child(2){
    background-color: white;
    gap: 30px;
    position: absolute;
    top: 10vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 20px ;
    /* box-shadow: 2px 0 10px hsla(0,0%,39.2%,.3); */
    z-index: 10;
}



.nav_items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease-out;
    padding: 8px 16px;
}

.nav_items a:hover, .nav_items a:focus{
    background-color: #00aeef;
    color: white;

}

#toggle_open{
    cursor: pointer;
}



.open_menu {
    /* right: 0; */
    left: 0;
    transition: all ease-out .2s;  
} 
 
.close_menu {
    left: -100%;
} 

.main_content{
    position: relative;
    top: 10vh;
    /* padding: 20px; */
    z-index: -1;
}


/* Start modification */

.intro{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}


.info > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;
}

.info > div:nth-child(1) p:first-of-type{
    font-size: 14px;
    font-weight: 500;
    /* font-family: "Syne"; */
    font-family: "poppinsLight";
}

.info > div:nth-child(1) h2{

}

.info > div:nth-child(1) p:last-of-type{
   font-family: "poppinsLight";
}

/* End modification */


.get_touch_btn{
    width: auto;
    padding: 8px 16px;
    background-color: white;
    border: #00aeef 1px solid;
    border-left: 6px solid #00aeef;
    font-family: "Syne";
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    transition: all 0.5s ease-out;
}


.header_btn{
    width: auto;
    padding: 8px 16px;
    background-color: white;
    border: #00aeef 1px solid;
    border-left: 6px solid #00aeef;
    font-family: "Syne";
    font-size: 14px;
    text-transform: uppercase;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-out;
}

.get_touch_btn:hover, .header_btn:hover, .header_btn:focus, .get_touch_btn:focus{
  background-color: #0770b9;
  cursor: pointer;
  color: whitesmoke;
}



.intro{
    padding: 20px;
}
.intro_image > img{
    height: 450px;
    min-width: 100%;
    object-fit: cover;
    border: #00aeef solid 1px;
    border-left: #00aeef solid 6px;
}

main{
   padding: 20px;
}

main >div:nth-child(1){
  display: flex;
  justify-content: left;
  flex-direction: column;
  
}

.line_under{
    height: 2px;
    width: 100px;
    background-color: #00aeef;
}


/* Tab services */

 
.tab_box{
    margin: 30px 0;
    display: flex;
    gap: 20px;
    border-bottom: #00aeef 1px solid;
    position: relative;
}

.tab_box .tab_btn{
     padding: 10px;
     border: none;
     background: white;
     cursor: pointer;
     font-family: "poppins";
     font-size: 14px;
}

.tab_box .tab_btn.active_tab{
     color: #00aeef;
     font-weight: bold;
}

.line{
    position: absolute;
    top: 39px;
    left: 0;
    width: 90px;
    height: 5px;
    background-color: #00aeef;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.services_box{

}

.services_box .service_content{
     display: none;
     animation:moving .3s ease;
}

@keyframes moving {
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.services_box .service_content.active_content{
    display: grid;
}

.service_content{
    display: grid;
    gap: 20px;
}

.service_content div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #eaf7fb;
    border-left: #00aeef solid 1px;
    border-right: #00aeef solid 1px;
    font-size: 14px;
    font-family: "poppinsLight";
}

/* .service_content div svg{
    color: #00aeef;
} */

/* End of tab services */

footer{
   background-color: #0770b9;
   margin-top: 60px;
   color: white;
   padding: 20px;
}

.footer_wrapper{
    display: grid;
    gap: 30px;
    margin: 40px 0;
}

.footer_title h1{
    font-size: 20px;
    font-family: "poppinsLight";
}

.footer_company{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "poppinsLight";
}

.footer_company > div{
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.footer_company h2{
    font-size: 16px;
}

.footer_company >div a{
    text-decoration: none;
    color: white;
    font-family: "poppinsLight";
    font-size: 13px;
}

.footer_company >div a:hover{
    text-decoration: underline;
}

.footer_social{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "poppinsLight";
}

.footer_social h2{
    font-size: 16px;
}

.footer_social >div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer_social >div a{
    text-decoration: none;
    color: white;
    font-family: "poppinsLight";
    font-size: 13px;
    border-radius: 50px;
    border: 1px solid ;
    padding: 6px;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
}

/* .footer_social >div a:hover{
    background-color: white;
}

.footer_social >div a svg:hover{
    color: #0770b9;
} */

.footer_contact{
    font-family: "poppinsLight";
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer_contact h2{
    font-size: 16px;

}

.footer_contact > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contact > div a{ 
   display: flex;
   color: white;
   align-items: center;
   font-size: 13px;
   gap: 8px;
}

.footer_contact > div > div{
    display: flex;
    gap: 8px;
    font-size: 13px;
    align-items: center;

}

@media screen and (min-width:568px) {
   

    .service_content{
        grid-template-columns: 1fr 1fr;
    }

     
    .tab_box{
        overflow: none;
    }


 
}


@media screen and (min-width:640px) {
    .intro{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .info > div:nth-child(1) p:first-of-type{
       
    }
    
    .info > div:nth-child(1) h2{
    
    }
    
    .info > div:nth-child(1) p:last-of-type{
        font-size: 16px;
    }

    main >div:nth-child(1){
        justify-content: center;
        align-items: center;
      }

      .services > div{
        font-size: 16px;
        
    }

    .footer_wrapper{
        grid-template-columns: 2fr 1fr;
    }
    
    
}


@media screen and (min-width:768px) {
    header{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        /* padding: 0 40px 0 40px; */
        box-shadow: 4px 1px 4px hsla(0,0%,39.2%,.3);
     }
     
     .header_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
     }
     
     .header_wrapper > div:nth-child(1){
         width: auto;
     }
     
    
     
     .header_wrapper > div:nth-child(2){
         background-color: transparent;
         gap: 20px;
         position: relative;
         top: 0;
         right: 0;
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         height: auto;
         width: auto;
         padding: 20px;
         box-shadow: none;
         transition: none;
     }

     .nav_items a{
        font-size: 15px;
        
    }

     #toggle_open{
        cursor: pointer;
        display: none;
    }

    .header_btn{
      display: flex;
    }


    .close_menu {
        left: 0;
    } 



    
    .intro{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .intro > div:nth-child(1){
       flex: 1;

    }

    .intro > div:nth-child(2){
        flex: 1.2; 
     }


     /* .tab_box .tab_btn{
        font-size: 16px;
     }
   */
  
   
     
}


@media screen and (min-width:1020px) {
    /* .services{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } */

    .header_wrapper{
        margin:20px auto;
        width: 90%;
    }

    .intro{
        margin: 50px auto;
        width: 90%;
    }
     
    main{
        margin: 0px auto;
        width: 90%;
     } 
    
    .footer_wrapper{
      margin: 40px auto;
      width: 90%;
      grid-template-columns: 1.5fr 1fr 1fr;
    }

    .service_content{
        grid-template-columns: 1fr 1fr 1fr;
    }

}


@media screen and (min-width:1200px) {
    .header_wrapper{
        width: 80%;
    }
     .intro{
        width: 80%;
     }

     .info > div:nth-child(1) h1{
        font-size: 42px;
    }
    
    /* .info > div:nth-child(1) p:last-of-type{
        font-size: 20px;
    } */


     main{
        width: 80%;
     } 

     main > div:nth-child(1) h1{
        font-size: 42px;
     }

     .footer_wrapper{
        width: 80%;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
      }
}


@media screen and (min-width:1400px) {
    /* .intro{
        margin: 50px auto;
        width: 75%;
     } */
}
