<%- include('./includes/header.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>

    <div class="content">

        <div class="impact_wrapper">
            <div class="impact">
                   <div>
                    <p>Our background</p>
                    <h2>Who We Are</h2>
                   </div>
                  <p>Founded by Brown Odala Bester Dzatopetsa in 2023, Believers' Blueprint Institute & Consulting (BBIC) addresses the critical need 
                    for holistic development among Christians and non-Christians. Recognizing that poverty and a lack of knowledge hinder spiritual
                    and economic growth, BBIC aims to bridge this gap through comprehensive education, training, and empowerment programs. 
                    By partnering with churches, microfinance institutions, NGOs, and community organizations, BBIC delivers personal and ministry 
                    development training, financial literacy education, and social initiatives aimed at poverty reduction and sustainable church growth. 
                    The organization seeks to transition individuals from dependency on handouts to achieving self-sufficiency, leveraging natural 
                    resources and enhancing knowledge skills to foster economic independence.
                    <br><br>
                    BBIC's global vision is to act as ambassadors for Christ, spreading the message that poverty is not a predestined state. 
                    By empowering individuals with the tools and knowledge necessary for personal and community transformation, BBIC aims to create 
                    a just world where economic, social, and environmental changes are realized. Through strategic partnerships and a unique 
                    business model, BBIC maximizes opportunities for economic empowerment, ensuring that spiritual and economic prosperity go hand in hand. 
                    This holistic approach is designed to inspire and equip individuals to unlock their potential, fostering an environment 
                    where empowered Christians or any God's people can positively lead and influence their communities.
                 </p>
            </div>
        </div>

        <div class="purpose">
            <h1>We're Proud of Our Purpose</h1>
            <div class="purpose_categories">
                <div class="purpose_mini">
                    <h2>Purpose</h2>
                    <p>BBIC's primary purpose is to empower Christians and non-Christians through holistic transformation, which encompasses spiritual, 
                        economic, and social growth. By providing personal and ministry development training, teaching financial independence principles, 
                        and implementing social initiatives, BBIC seeks to foster sustainable church growth and economic prosperity. 
                        The organization aims to replace dependency on handouts with empowerment initiatives, enabling individuals to achieve self-sustainability 
                        and support broader ministry goal</p>
                </div>
                <div class="mission">
                    <h2>Mission</h2>
                    <p>To inspire, empower and unlock the personal transformational breakthroughs by enhancing the transformational, 
                    financial knowledge and skills for all financially excluded.</p>
                </div>
                <div class="vision">
                    <h2>Vision</h2>
                    <p>A just world with Economic, social, and environmental transformed.</p>
                </div>
            </div>
        </div>
        <div class="core_values_wrapper_bg">
             <div class="core_values">
                <h1>Core Values</h1>
                <div class="core_values_list">
                    <div class="core_values_items">
                        <h2>Future Focused</h2>
                        <p>We will make sure that we bring effective financial answers to the puzzle<strong> “If every person was not happy with the financial 
                            stand of yesterday, we try something different today”</strong>  for a focused future for our generation.</p>
                    </div>
                    <div class="core_values_items">
                        <h2>Relevant</h2>
                        <p>We will make sure that the financially excluded use what they have, to get what they want</p>
                    </div>
                    <div class="core_values_items">
                        <h2>Purpose-Driven</h2>
                        <p>We’re here to put a positive dent in the universe; Otherwise we wouldn’t exist!”</p>
                    </div>
                    <div class="core_values_items">
                        <h2>Challenging</h2>
                        <p>We will encourage the excluded to start challenging themselves as a way for an invitation to greatness</p>
                    </div>
                    <div class="core_values_items">
                        <h2>Inspiring</h2>
                        <p>We will engage and inspire the excluded people to commit to a cause.
                           An effective game should move people emotionally, creating a desire to sign up to the positive cause</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="impact_wrapper">
            <div class="impact">
                   <div>
                    <p>Our Target</p>
                    <h2>BBIC's target audience is diverse</h2>
                   </div>
                   
                   <div class="target">
                    <h3>BBIC targets a diverse group of individuals and organizations, including:</h3>
                    <ul>
                        <li>Christians seeking economic empowerment and spiritual growth.</li>
                        <li>Women, Youth, and Smallholder Farmers involved in microeconomic activities</li>
                        <li>Financially excluded individuals including those in poverty, rural areas, and people with disabilities.</li>
                        <li>Church organizations and their congregations</li>
                        <li>Microfinance Institutions, Banks, NGOs, and Cooperatives aiming to improve their economic impact and management.</li>
                        <li>Village Savings and Loans Associations (VSLAs) and cooperatives needing financial linkage and support.</li>
                        <li>Employees and staff requiring personal financial and leadership management skills.</li>
                    </ul>
                    <p>
                        BBIC's comprehensive approach addresses the unique needs of these groups by offering tailored training 
                        and empowerment programs. This ensures that all stakeholders, from individual believers to large organizations, 
                        can benefit from BBIC's initiatives and contribute to a more prosperous and empowered community
                    </p>
                 </div>
            </div>

        </div>

        <%- include('./includes/footer.ejs') %>

    </div>
</body>
</html>