<%- include('./includes/header.ejs') %>
<body>
    
    <%- include('./includes/navigation.ejs') %>
   <div class="content">

        <div class="contact_wrapper">
            <div class="contact_us">

                <div class="topic">
                    <h1>Contact Us</h1>
                    <p>Collaborate with us on various projects!</p>
                </div>

                <div class="location">
                    <div>
                        <h1>Let's create something great together</h1>
                    </div>

                    <div>
                        <a href="">
                            <p>Finance</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                            stroke-linejoin="round" class="lucide lucide-arrow-down"><path d="M12 5v14"/><path d="m19 12-7 7-7-7"/></svg>
                        </a>

                        <a href="">
                            <p>General Inquiries</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                            stroke-linejoin="round" class="lucide lucide-arrow-down"><path d="M12 5v14"/><path d="m19 12-7 7-7-7"/></svg>
                        </a>
                    </div>
                    <div>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                            stroke-linejoin="round" class="lucide lucide-contact"><path d="M17 18a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2"/><rect width="18" height="18" x="3" y="4" rx="2"/>
                            <circle cx="12" cy="10" r="2"/><line x1="8" x2="8" y1="2" y2="4"/><line x1="16" x2="16" y1="2" y2="4"/></svg>
                            <span>+265 999 144 007</span> |  <span>+265 888 144 007</span>
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                            stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                            <span>bdzatopetsa@gmail.com</span>
                        </p>
                    </div>
                    <div class="address">
                        <h4>Malawi</h4>
                        <p>Believers’ Blueprint Consulting</p>
                        <p>C/O Private Bag B336</p>
                        <p>Lilongwe</p>
                    </div>
                </div>

            </div>
        
        </div>

        <%- include('./includes/footer.ejs') %>
    </div>

</body>
</html>