
@font-face {
    font-family: "poppins";
    src: url(poppins/Poppins-Regular.otf);
}
@font-face {
    font-family: "poppinsLight";
    src: url(poppins/Poppins-Light.otf);
}

.content{
    position: relative;
    top: 10vh;
    z-index: -1;
}

.contact_wrapper{
    margin-top: 40px;
    padding: 20px;
    font-family: "poppinsLight";

}

.contact_us{
    display: grid;
    gap: 30px;
    /* margin: 40px 0; */
}


.contact_us .topic p{
    font-size: 14px;
}



.location{
    display: grid;
    gap: 20px;
}

.location > div:nth-child(2){
    display: flex;
    gap: 10px;
}

.location > div:nth-child(2) a{
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding: 10px;
    align-items: center;
    color: black;
    border: 1px solid #00aeef;
    border-left: 6px solid #00aeef;
    font-size: 14px;
    font-weight:bold;

}

.location > div:nth-child(2) a svg{
    font-weight: bolder;
}

.location > div:nth-child(3){
   display: grid;
   gap: 10px;
}

.location > div:nth-child(3) p{
     display: flex;
     align-items: center;
     font-size: 14px;
     gap: 5px;
}


.address p{
    font-size: 14px;
}


@media screen and (min-width:768px) {

    .contact_us{
        grid-template-columns: 1fr 1.5fr;
    }

    .contact_us .location{
        gap: 40px;
    }


}

@media screen and (min-width:1024px) {

    .contact_us{
        margin: auto;
        width: 90%;
        border-left: 1px #00aeef solid;
        background-color: #F2F2F2;
        padding: 20px;
    }
   
    .contact_us .location{
        gap: 40px;
    }

    .contact_us .topic > h1{
       font-size: 46px;
    }

    .location >div:nth-child(1) h1{
        font-size: 46px;
    }
  
       
}

@media screen and (min-width:1200px) {
    .contact_us{
        margin:auto;
        width: 80%;
    }
}